# Add any directories, files, or patterns you don't want to be tracked by version control
/.project

fetching/jt.*

.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
.DS_Store
*.log
*.pyc

.idea/
env/
tmp/
setup.cfg